* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: calc(100vh);
  font-size: 2rem;
  background: #0f0c46;
}
